<div id="layoutSidenav_content">
                <main>
                    <div class="container-fluid px-4">

<div class="container">
    <div class="row">
     <a class="btn mt-5 btn-success ml-auto" style="width:10rem ;" href="/admin/add-product">Add Products</a>
    
        </div>
    <div class="row d-block ">
       
        
    
        <table class="table mt-5 " id="viewusers">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Price</th>
                    <th scope="col">Description</th>
                    <th scope="col">Thumbnail</th>
                    <th scope="col">Edit-User</th>
                    <th scope="col">Delete-User</th>

                </tr>
            </thead>
            <tbody>
                {{#each allProducts}}
                <tr>
                    
                    {{!-- <th scope="row">{{_id}}</th> --}}
                    <td>{{this.name}}</td>
                    <td>{{this.category}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.description}}</td>
                    <td><img style=" height:50px"  id="z" src="/product-images/{{this._id}}1.jpg" alt="" ></td>
                    <td><a href="/admin/edit-product/{{this._id}}" onclick="" class="btn btn-primary">Edit Product</a></td>
                    <td><a href="/admin/delete-product/{{this._id}}" onclick="return confirm('delete product {{this.name}}')" class="btn btn-danger">Delete Product</a></td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
                    </div></main></div>